In [12]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [13]:
# Define the linear regression function
def linear_regression(X_train, y_train):
    # Add a column of ones to X_train for the intercept term
    X_train = np.column_stack((np.ones(len(X_train)), X_train))
    
    # Compute the coefficient using the normal equation
    coeff = np.linalg.inv(X_train.T @ X_train) @ X_train.T @ y_train
    
    # Predict the output using the trained coefficients
    y_pred = X_train @ coeff
    
    return coeff, y_pred

In [15]:
# Load the medical price dataset
data = pd.read_csv('/content/Medical Price Dataset.csv')

In [17]:
pd.DataFrame(data)

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [19]:
# Extract the feature and output variables
X = data['age'].to_numpy().reshape(-1, 1)
y = data['charges'].to_numpy()

# Split the data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [20]:
# Run linear regression
coefficients, y_pred = linear_regression(X_train, y_train)

In [21]:
# Calculate the Mean Squared Error (MSE) for the training set
mse_train = mean_squared_error(y_train, y_pred)
print("Mean Squared Error (MSE) for training set:", mse_train)

Mean Squared Error (MSE) for training set: 132878350.42028469

In [22]:
# Calculate the Mean Squared Error (MSE) for the test set
X_test_with_intercept = np.column_stack((np.ones(len(X_test)), X_test))
y_pred_test = X_test_with_intercept @ coefficients
mse_test = mean_squared_error(y_test, y_pred_test)
print("Mean Squared Error (MSE) for test set:", mse_test)

Mean Squared Error (MSE) for test set: 135983957.48054686